body {
    background-size: cover;
}

.table {
    background-color: rgba(255,255,255,0.52);
    height: max-content;
}


.nav {
    background-color: rgba(255,255,255,0.52);
}

.nav-link {
    color: black;
}

.nav-link.active {
    color: black;
}

.content {
    background-color: rgba(255,255,255,0.52);
}
    .content.noWhites {
        background-color: none;
    }
