@model ERP_API_Service.Objects.Error

@{
    ViewData["Title"] = "_ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ERROR</h2>

<table class="table">
    <tbody>
        <tr style="height: 22px;">
            <td>@ViewData["Message"]</td>
        </tr>
    </tbody>
</table>



