@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>
<Toasts Position="Services.Toast.ToastPosition.BottomRight" Timeout="5" SuccessClass="success-toast-override" SuccessIconClass="oi oi-thumb-up" ErrorIconClass="oi oi-bug"/>
<PopupWindow />

<div class="page bg-image min-vh-100">
    <header class="sidebar sidebar-custom position-fixed" style="z-index:10">
        <NavMenu/>
    </header>
    <main style="margin-left:250px">
        <TopMenu/>
         <div class="content px-4 overflow-auto">
            @Body
        </div>
    </main>

</div>


