@inherits LayoutComponentBase
<Toasts Position="Services.Toast.ToastPosition.BottomRight" Timeout="5" SuccessClass="success-toast-override" SuccessIconClass="oi oi-thumb-up" ErrorIconClass="oi oi-bug"/>
<PopupWindow />
<div class="page h-100">
    <div class="col-12 bg-image h-100 flex-column d-flex">
        <div class="top-row top-row-custom shadow-lg px-4">
            <div class="text-center">
                <a href="https://galaktika.ru/">
                    <img src="https://galaktika.ru/docs/logo/r_blue_on_tp.png" class="img-width-galaktika">
                </a>
            </div>
        </div>
            @Body
    </div>
</div>