@inherits AddSuperUserModel

<div>
    <EditForm class="was-validated" Model="@UserData" OnValidSubmit="AddSuperUser">
        <DataAnnotationsValidator/>
        <div class="modal-body justify-content-center">
            <div class="alert alert-danger" role="alert">
                    Внимание!!! Регистрация суперадминистратора происходит единажды!<br/>Запомните введённые данные!
                </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-user wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Логин..." @bind-Value="UserData.Login" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.Login"/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-lock wd-40px"></span>
                <InputText type="password" pattern=".{8,}" class="form-control is-invalid" placeholder="Пароль..." @bind-Value="UserData.Password" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.Password"/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-lock wd-40px"></span>
                <InputText type="password" pattern=".{8,}" class="form-control is-invalid" placeholder="Повторите пароль..." @bind-Value="UserData.ConfirmPassword" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.ConfirmPassword"/>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-plus"></span> Добавить суперадминистратора
            </button>
        </div>
    </EditForm>
</div>