@inherits EditRoleModel

<div>
    <EditForm class="was-validated" Model="@RoleData" OnValidSubmit="EditRole">
        <DataAnnotationsValidator/>
        <div class="modal-body">
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-user-circle wd-40px"></span>
                <InputText type="text"
                           class="form-control is-invalid"
                           placeholder="Роль..."
                           @oninput="@((e)=> RoleData.Name = e.Value.ToString())"
                           @bind-Value="RoleData.Name" required/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-file-text wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Описание..." @bind-Value="RoleData.Description"/>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary" disabled="@RoleData.IsDisabledButton">
                <span class="fa fa-plus"></span> Сохранить
            </button>
        </div>
    </EditForm>
</div>