################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Terminal_Release/Terminal_Release/bin/Debug/netstandard2.0
/Terminal_Release/Terminal_Release/obj
/Terminal_Release/Terminal_Release.Android/bin/Debug
/Terminal_Release/Terminal_Release.Android/obj
/Terminal_Release/Terminal_Release.iOS/bin/iPhoneSimulator/Debug
/Terminal_Release/Terminal_Release.UWP/bin/x86/Debug
/Terminal_Release/Terminal_Release.UWP/obj
/Terminal_Release.Services/obj
/Terminal_Release/Terminal_Release.iOS/obj
/.vs/Terminal_Release
/Terminal_Release/Terminal_Release/bin/Release/netstandard2.0
/Terminal_Release/Terminal_Release/Views/Resources/Images/Icons/ДС (изменение ставки).doc
/Terminal_Release/Terminal_Release/Views/Resources/Images/Icons/Заявление об изменении размера ставки (ППС и ПР).doc
/Terminal_Release/Terminal_Release.Android/bin/Release
/Terminal_Release/Terminal_Release.iOS/bin/iPhoneSimulator/Release
/Terminal_Release/Terminal_Release.UWP/bin/x86/Release
/.vs
