@page "/roles"
@inherits RolesModel
@layout BodyLayout

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
                <div class="mb-2" style="z-index:10; bottom:0">
                    <button class="btn btn-primary btn-user btn-block" @onclick="AddRole">
                        <span class="fa fa-plus"></span> Добавить новую роль
                    </button>
                </div>
                @if(Roles == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <Table Items="@Roles" Context="role">
                        <TableHeader>
                            <th scope="col" class="text-center">Название роли</th>
                            <th scope="col" class="text-center">Описание</th>
                            <th scope="col" class="text-center">Операции</th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@role.Name</td>
                            <td>@role.Description</td>
                            <td scope="row">
                               <button type="submit" class="btn btn-primary" @onclick="() => EditRole(role)">
                                    <span class="fa fa-edit"></span>
                               </button>
                               <button type="submit" class="btn btn-red" @onclick="() => RemoveRole(role)">
                                    <span class="fa fa-remove"></span>
                               </button>
                            </td>
                        </RowTemplate>
                    </Table>
                }
         </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>