@inherits DropDownButtonModel

<div class="dropdown">
    <button class="dropdown-toggle @ClassButton" data-toggle="dropdown" aria-haspopup="true" @onfocusout="@CloseMenuOutFocus" @onclick="e => this.Show=!this.Show " aria-expanded="false">
        @ContentButton
    </button>
    <div class="dropdown-menu dropdown-menu-end end-0 @(Show? "show":"")">
        @ChildContent
    </div>
</div>