@inherits BlazoredViewModal

<div class="blazored-modal-container @ComponentPosition @(IsVisible ? "blazored-modal-active" : string.Empty)">
    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>
    <div class="modal-dialog-centered">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                @if (!ComponentHideCloseButton)
                {
                    <button type="button" class="btn-close" aria-label="Close" @onclick="@(() => ModalService.Cancel())"></button>
                }
            </div>
              <div>
                  <div class="blazored-modal-content m-2">
                        <CascadingValue Value="this">
                            <CascadingValue Value="@Parameters">
                                @Content
                            </CascadingValue>
                        </CascadingValue>
                  </div>
              </div>
         </div>
     </div>
</div>
