@inherits AddDeviceModel

<div>
    <EditForm class="was-validated" Model="@DeviceData" OnValidSubmit="AddDevice">
        <DataAnnotationsValidator/>
        <div class="modal-body">
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-code wd-40px"></span>
                <InputText type="text" class="form-control is-invalid"
                           placeholder="Код устройства..."
                           @oninput="@((e)=> DeviceData.DeviceCode = e.Value.ToString())"
                           @bind-Value="DeviceData.DeviceCode" required/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-file-text wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Описание..." @bind-Value="DeviceData.Description"/>
            </div>
            <div class="form-check text-center mb-2">
                <input class="form-check-input float-none" type="checkbox" @bind="DeviceData.IsActive"/>
                <label class="form-check-label">Сделать устройство активным</label>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary" disabled="@DeviceData.IsDisabledButton">
                <span class="fa fa-plus"></span> Добавить устройство
            </button>
        </div>
    </EditForm>
</div>